doctype html
html 
    head
        title data
    body
        <h1>Here are your result</h1>
        <main id = "select">
            <table id = "main">
                <thead>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>Business Name</th>
                    <th>Contact</th>
                </thead>
                <tbody>
                </tbody>

            </table>
        </main>
        <script type = "javascript/text" src = "./data.js"></script>
    </body>
</html>